#####################################################################
# Homing
#####################################################################

[gcode_macro xyz_ready]
variable_x_ready: 0
variable_y_ready: 0
variable_z_ready: 0
variable_xy_moved: 0
variable_z_moved: 0
variable_safe_z: 5
gcode:

# [gcode_macro G28]
# rename_existing: G28.1
# gcode:
#   _HOME_SAFELY {rawparams}

# [homing_override]
# axes: xy
# gcode:
#   _HOME_Y
#   _HOME_X

# [gcode_macro _HOME_SAFELY]
# gcode:
#   M220 S100
#   {% set x_axes = printer.toolhead.homed_axes %}
#   {% if x_axes is defined and x_axes[0] is defined %}
#     {action_respond_info(
#         "x_axes: %s \n"
#         % (x_axes))}
#   {% else %}
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=x_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=xy_moved VALUE=0
#     SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_moved VALUE=0
#     {action_respond_info(
#         "x_axes is NULL\n")}
#   {% endif %}

#   {% if x_axes is defined and x_axes[0] is defined and x_axes[1] is defined %}
#     {action_respond_info("x_axes: %s \n"% (x_axes))}
#     {% set position_y = printer.toolhead.position.y|int %}
#     {% set max_y_position = printer["gcode_macro PRINTER_PARAM"].max_y_position|int %}
#     {% if position_y >= max_y_position %}
#       G91
#       G0 Y-10 F3600
#       G90
#     {% endif %}
#   {% endif %}

#   {% set home_all = 'X' not in params and 'Y' not in params %}
#   {% if 'Z' in params and 'X' not in params and 'Y' not in params %}
#     {% if x_axes[0] is defined and x_axes[1] is defined %}
#       {% set home_all = 0 %}
#     {% endif %}
#   {% endif %}

#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}

#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}

#   {% if home_all or 'Z' in params %}
#     _HOME_Z
#   {% endif %}
#   G4 P500

[gcode_macro _IF_HOME_Z]
gcode:
  {% if printer['gcode_macro xyz_ready'].z_ready|int == 1 %}
    {% if printer.toolhead.position.z|int < 5 %}
      {% set z_park = 5.0 - printer.toolhead.position.z|int %}
      G91
      G1 z{z_park} F600
      G90
    {% endif %}
  {% else %}
    {% if printer['gcode_macro xyz_ready'].z_moved|int == 0 %}
      FORCE_MOVE STEPPER=stepper_z DISTANCE=10 VELOCITY=10
      SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_moved VALUE=1
    {% endif %}
  {% endif %}

[gcode_macro _IF_MOVE_XY]
gcode:
  _IF_HOME_Z
  {% if printer['gcode_macro xyz_ready'].xy_moved|int == 0 %}
    {action_respond_info("move xy\n")}
    SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=xy_moved VALUE=1
    G4 P1000
  {% endif %}

[gcode_macro _HOME_X]
gcode:
  _IF_MOVE_XY
  {% set HOME_CUR = 0.300 %}
  {% set RUN_CUR_X = printer.configfile.settings['tmc5160 stepper_x'].run_current %}
  {% set RUN_CUR_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current %}
  # Set current for sensorless homing
  # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
  # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
  # Pause to ensure driver stall flag is clear
  # G4 P2000
  # Home
  G28.1 X
  SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=x_ready VALUE=1
  # Set current during print
  # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
  # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}


[gcode_macro _HOME_Y]
gcode:
  _IF_MOVE_XY
  {% set HOME_CUR = 0.300 %}
  {% set RUN_CUR_X = printer.configfile.settings['tmc5160 stepper_x'].run_current %}
  {% set RUN_CUR_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current %}
  # Set current for sensorless homing
  # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
  # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
  # Pause to ensure driver stall flag is clear
  # G4 P2000
  # Home
  G28.1 Y
  SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=y_ready VALUE=1
  # Set current during print
  # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
  # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}

[gcode_macro _HOME_Z]
gcode:
  {% if printer['gcode_macro xyz_ready'].y_ready|int == 1 %}
    {% if printer['gcode_macro xyz_ready'].x_ready|int == 1 %}
      _IF_HOME_Z
    {% endif %}
  {% endif %}

  {% set POSITION_X = printer.configfile.settings['stepper_x'].position_max/2 %}
  {% set POSITION_Y = printer.configfile.settings['stepper_y'].position_max/2 %}
  # BED_MESH_SET_DISABLE
  G91
  {% set x_park = POSITION_X - printer.toolhead.position.x|int %}
  {% set y_park = POSITION_Y - printer.toolhead.position.y|int %}
  {action_respond_info("x_park = %s \n" % (x_park))}
  {action_respond_info("y_park = %s \n" % (y_park))}
  G1 x{x_park} y{y_park} F3600
  G90
  # G4 P500

  G28.1 Z
  SET_GCODE_VARIABLE MACRO=xyz_ready VARIABLE=z_ready VALUE=1
  # BED_MESH_SET_ENABLE


# [gcode_macro SENSORLESS_HOME_Y]
# gcode:
#     {% set HOME_CUR_Y = 0.3 %}
#     {% set RUN_CUR_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current %}
#     # Set current for sensorless homing
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
#     # Pause to ensure driver stall flag is clear
#     G4 P2000
#     # Home
#     G28 Y
#     # Move away
#     G90
#     G1 Y5 F1200
#     # Set current during print
#     SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}

# [gcode_macro SENSORLESS_HOME_X]
# gcode:
#     {% set HOME_CUR_X = 0.3 %}
#     {% set RUN_CUR_X = printer.configfile.settings['tmc5160 stepper_x'].run_current %}
#     # Set current for sensorless homing
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR_X}
#     # Pause to ensure driver stall flag is clear
#     G4 P2000
#     # Home
#     G28 X
#     # Move away
#     G90
#     G1 X5 F1200
#     # Set current during print
#     SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}


#####################################################################
# Motors
#####################################################################

## Connected to E1-MOT
# [stepper_z2]
# step_pin: PE6
# dir_pin: PC13
# enable_pin: !PE5
# rotation_distance: 40
# gear_ratio: 27:1
# microsteps: 16

## Connected to E0-MOT
# [stepper_z1]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PD4
# rotation_distance: 8
# gear_ratio: 27:1
# microsteps: 16

[stepper_x]
##	Connected to X-MOT
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:200 
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 30
second_homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y]
##	Connected to Y-MOT
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 128
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -2
position_endstop: -2
position_max: 306
homing_speed: 25
second_homing_speed: 20
homing_retract_dist: 0
homing_positive_dir: false

##	Connected to Z-MOT
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 8
full_steps_per_rotation: 200
gear_ratio: 64:20
microsteps: 64
endstop_pin: probe:z_virtual_endstop 
position_max: 290
position_min: -10
homing_speed: 5
second_homing_speed: 1
homing_retract_dist: 3.0

#####################################################################
# TMC 2209 [E1][E0][X][Y][Z]
#####################################################################

## Port E1
# [tmc2209 stepper_z2]
# uart_pin: PC14
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0

# [tmc2209 stepper_z1]
# uart_pin: PD7
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# #diag_pin:PG2

# [tmc2209 stepper_x]
# uart_pin: PE7
# interpolate: True
# run_current: 1.0
# # hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag_pin:^PE0
# driver_SGTHRS: 75

# [tmc2209 stepper_y]
# uart_pin: PE15
# interpolate: True
# run_current: 1.0
# # hold_current: 0.8
# sense_resistor: 0.110
# stealthchop_threshold: 0
# diag_pin:^PB13
# driver_SGTHRS: 80

[tmc2209 stepper_z]
uart_pin: PD10
uart_address: 0
interpolate: True
run_current: 0.8
hold_current: 0.5
home_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# TMC 5160 [E1][E0][X][Y][Z]
#####################################################################

# [tmc5160 stepper_z2]
# cs_pin: PC14
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PD12
# # driver_SGT: 30

# [tmc5160 stepper_z1]
# cs_pin: PD7
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PC4
# # driver_SGT: 30

[tmc5160 stepper_x]
cs_pin: PE7
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
run_current: 1.2
home_current: 0.3
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0
diag1_pin: ^!PE0
driver_SGT: 1

[tmc5160 stepper_y]
cs_pin: PE15
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
run_current: 1.2
home_current: 0.3
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0
diag1_pin: ^!PB13
driver_SGT: 2

# [tmc5160 stepper_z]
# cs_pin: PD10
# spi_software_mosi_pin: PE14
# spi_software_miso_pin: PE13
# spi_software_sclk_pin: PE12
# interpolate: True
# run_current: 2.0
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# # diag_pin:^!PE1
# # driver_SGT: 30
