#####################################################################
# System
#####################################################################

[mcu leveling_mcu]
serial: # Check ls -l /dev/serial/by-id/

[temperature_sensor leveling_mcu]
sensor_type: temperature_mcu
sensor_mcu: leveling_mcu
min_temp: 0
max_temp: 100

#####################################################################
# Loadcell Config
#####################################################################

[load_cell_probe lc]
sensor_type: hx711
dout_pin: leveling_mcu:PA4
sclk_pin: leveling_mcu:PA7
z_offset: 0.0
counts_per_gram: 25.39770
reference_tare_counts: 89146
safety_limit: 5000
trigger_force: 160
trigger_count: 1
samples: 2
speed: 2
lift_speed: 5.0
pullback_dist: 0.5
pullback_speed: 0.2

[lc_auto_z_offset]
center_xy_position: 150.0,150.0
secondary_probe: lc