# Fysetc Catalyst.K kit

#####################################################################
# Klipper Compilation
#####################################################################

# MCU CHip: STM32H723
# Clock Crystal: 25Mhz
# Bootloader: NONE
# Memory Location: 0x08000000

#####################################################################
# Include
#####################################################################

[include macros.cfg]
[include toolhead.cfg]
[include motion.cfg]
# [include probe.cfg]
# [include eddy.cfg]

#####################################################################
# Features
#####################################################################

[pause_resume]

[display_status]

[idle_timeout]
timeout: 99999999

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes

#####################################################################
# System
#####################################################################

[mcu]
serial: # Check ls -l /dev/serial/by-id/

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000 
max_z_velocity: 25		    
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
# Bed
#####################################################################

[heater_bed]
heater_pin: !PB0 ##	SSR Pin - In AC-BED OUT position
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
max_power: 0.6
min_temp: 0
max_temp: 125
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[screws_tilt_adjust]
screw1: 19,23
screw1_name: front left
screw2: 278,23
screw2_name: front right
screw3: 248,272
screw3_name: rear right
screw4: 50,272
screw4_name: rear left
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4

# [z_tilt]
# z_positions:
#     150, 350 # Back Middle
#     -50, 15  # Front Left
#     350, 15  # Front Right
# points:
#     150, 250 # Back Middle
#     50, 50   # Front Left
#     250, 50  # Front Right
# speed: 100
# horizontal_move_z: 10
# retries: 5
# retry_tolerance: 0.02

#####################################################################
# Fans
#####################################################################

[temperature_fan chamber_fan]
pin: PB2
cycle_time: 0.0100
hardware_pwm: false
max_power: 1
shutdown_speed: 0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 35.0
max_speed: 1.0
min_speed: 0.0

[controller_fan board_driver_fan]
pin:PA0
max_power:1.0
shutdown_speed:0
tachometer_pin:PC2
idle_speed:0.3
stepper: stepper_x, stepper_y, stepper_z # stepper_e0, stepper_e1

# [output_pin fan1]
# pin: PA3
# pwm: True
# cycle_time: 0.0100
# hardware_pwm: false
# value: 0.00
# scale: 255
# shutdown_value: 0.0

# [output_pin fan1]
# pin: PB2
# pwm: True
# cycle_time: 0.0100
# hardware_pwm: false
# value: 0.00
# scale: 255
# shutdown_value: 0.0

#####################################################################
# LED Control
#####################################################################
[output_pin LED]
pin: PA15
pwm: True
cycle_time: 0.010
value: 1

# [neopixel rgb]
# pin: PD3
# chain_count: 1
# initial_RED: 0.5
# initial_GREEN: 0
# initial_BLUE: 0
# initial_WHITE: 0
# color_order: GRBW