# Fysetc Catalyst.K kit

#####################################################################
# Klipper Compilation
#####################################################################

# MCU CHip: STM32H723
# Clock Crystal: 25Mhz
# Bootloader: NONE
# Memory Location: 0x08000000

#####################################################################
# Include
#####################################################################

#####################################################################
# Features
#####################################################################

[pause_resume]

[display_status]

[idle_timeout]
timeout: 99999999

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes

#####################################################################
# System
#####################################################################

[mcu]
serial: # Check ls -l /dev/serial/by-id/

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000 
max_z_velocity: 15		    
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
# Motors
#####################################################################

## Connected to E0-MOT
# [stepper_z1]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PD4
# rotation_distance: 8
# gear_ratio: 27:1
# microsteps: 16

## Connected to E1-MOT
# [stepper_z2]
# step_pin: PE6
# dir_pin: PC13
# enable_pin: !PE5
# rotation_distance: 40
# gear_ratio: 27:1
# microsteps: 16

[stepper_x]
##	Connected to X-MOT
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200 
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 30
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y]
##	Connected to Y-MOT
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 306
position_max: 306
homing_speed: 25
homing_retract_dist: 0
homing_positive_dir: true

##	Connected to Z-MOT
[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
rotation_distance: 8
full_steps_per_rotation: 200
gear_ratio: 64:20
microsteps: 16
endstop_pin: probe:z_virtual_endstop 
position_max: 290
position_min: -10
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

#####################################################################
# TMC
#####################################################################

# [tmc2209 stepper_e0]
# uart_pin: PD7
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0
# #diag_pin:PG2

# [tmc2209 stepper_z2]
# uart_pin: PC14
# uart_address: 0
# interpolate: True
# run_current: 1.5
# hold_current: 0.5
# sense_resistor: 0.110
# stealthchop_threshold: 0

#####################################################################
# TMC
#####################################################################

[tmc2209 stepper_x]
uart_pin: PE7
interpolate: True
run_current: 1.0
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin:^PE0
driver_SGTHRS: 75

[tmc2209 stepper_y]
uart_pin: PE15
interpolate: True
run_current: 1.0
# hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin:^PB13
driver_SGTHRS: 80

[tmc2209 stepper_z]
uart_pin: PD10
uart_address: 0
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# Bed Heater
#####################################################################

[heater_bed]
heater_pin: !PB0 ##	SSR Pin - In AC-BED OUT position
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
max_power: 0.6
min_temp: 0
max_temp: 125
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
# Fans
#####################################################################

[temperature_fan chamber_fan]
pin: PB2
cycle_time: 0.0100
hardware_pwm: false
max_power: 1
shutdown_speed: 0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 35.0
max_speed: 1.0
min_speed: 0.0

[controller_fan board_driver_fan]
pin:PA0
max_power:1.0
shutdown_speed:0
tachometer_pin:PC2
idle_speed:0.3
stepper: stepper_x, stepper_y, stepper_z # stepper_e0, stepper_e1

# [output_pin fan1]
# pin: PA3
# pwm: True
# cycle_time: 0.0100
# hardware_pwm: false
# value: 0.00
# scale: 255
# shutdown_value: 0.0

# [output_pin fan1]
# pin: PB2
# pwm: True
# cycle_time: 0.0100
# hardware_pwm: false
# value: 0.00
# scale: 255
# shutdown_value: 0.0

#####################################################################
# LED Control
#####################################################################
[output_pin LED]
pin: PA15
pwm: True
cycle_time: 0.010
value: 0

# [neopixel rgb]
# pin: PD3
# chain_count: 1
# initial_RED: 0.5
# initial_GREEN: 0
# initial_BLUE: 0
# initial_WHITE: 0
# color_order: GRBW