[include macros.cfg]
[include toolhead.cfg]
[include kinematics.cfg]
[include probe_eddyng.cfg]
[include nonessential_macros.cfg]
[include neopixel.cfg]
[include prowiper.cfg]
[include timelapse.cfg]

#####################################################################
# Features
#####################################################################

[pause_resume]

[display_status]

[respond]

[virtual_pins]

[idle_timeout]
timeout: 172800 # 48 Hours

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/variables.cfg

#####################################################################
# System
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1A003F000D51333235363331-if00

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000 
max_z_velocity: 25		    
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor catalyst_mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor BTT_Pi_temp]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp # Default for most Pi boards
min_temp: -10
max_temp: 90

#####################################################################
# Bed
#####################################################################

[heater_bed]
heater_pin: !PB0 ##	SSR Pin - In AC-BED OUT position
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 125
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[screws_tilt_adjust]
screw1: 19,23
screw1_name: front left
screw2: 278,23
screw2_name: front right
screw3: 248,272
screw3_name: rear right
screw4: 50,272
screw4_name: rear left
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4

# [z_tilt]
# z_positions:
#     150, 350 # Back Middle
#     -50, 15  # Front Left
#     350, 15  # Front Right
# points:
#     150, 250 # Back Middle
#     50, 50   # Front Left
#     250, 50  # Front Right
# speed: 100
# horizontal_move_z: 10
# retries: 5
# retry_tolerance: 0.02

#####################################################################
# Fans
#####################################################################

[duplicate_pin_override]
pins: PA1, PB2, PC1

[temperature_fan chamber_fan]
pin: PA1
cycle_time: 0.0100
hardware_pwm: false
max_power: 1
shutdown_speed: 0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 70
control: watermark
max_delta: 2
target_temp: 35.0
max_speed: 1.0
min_speed: 0.0

[controller_fan board_driver_fan]
pin:PA0
max_power:1.0
shutdown_speed:0
tachometer_pin:PC2
idle_speed:0.3
stepper: stepper_x, stepper_y, stepper_z # stepper_e0, stepper_e1

[fan_generic exhaust_fan]
pin: PA1
cycle_time: 0.0100
kick_start_time: 0.5
min_power: 0.3
max_power: 1.0

[fan_generic aux_fan]
pin: PB3
cycle_time: 0.0100
kick_start_time: 1.0
min_power: 0.1
max_power: 1.0

[heater_generic chamber]
heater_pin: PB2
max_power: 1.0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: watermark
max_delta: 1
min_temp: 0
max_temp: 65

[verify_heater chamber]
max_error: 900
check_gain_time: 300
hysteresis: 50
heating_gain: 1

#####################################################################
# LED Control
#####################################################################
[output_pin LED]
pin: PA15
pwm: True
cycle_time: 0.010
value: 1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 19.106
#*# pid_ki = 0.743
#*# pid_kd = 122.754
#*# pid_version = 1
#*# pid_target = 70.00
#*# pid_tolerance = 0.0200
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.462
#*# pid_ki = 2.829
#*# pid_kd = 57.291
#*# pid_version = 1
#*# pid_target = 250.00
#*# pid_tolerance = 0.0200
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDULoYZKY0G/Y/lm4E4y5K/j/EqHKXtLXqPx6dLajLuuY/XDyh38KVhb8jjdjTt6vwv/CFyPz3198/UseUjzfz+z+EAcNeLQTJv/q5Y0KEvum/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQeM81oVOJlD4U4CwH18CUPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQyUZtkAFFG0BdyuVDUf0JQPs3HeFjwf4/P2hBKPwQEUAN2SOPIRjJv03lK8NvHCjA1XIFS2xFAUA2xspT9aAyQFTR8jSPE+u/D/cU0SaiIcCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDENjH/0qcvpQ+lrj0rtzMlD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BaBB2597GUPkdJD4AdshY+b/d/RsrwBb56L4aGgNvyPdJtSVIdA+691EZaysqnsj1tSnmje3buPbcIuIbrucq9qPZiZwoY4L3iZ/a3LxzLPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQCauTNBTTT82TL0+1PwTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/TVPQTK4mQEdALf8FmY8822WMB2ZfcmFuZ2WUXZQoR0FInXcMpxAAR0FI7mnRkWgAZYwCZGOUSw91Lg==
#*# tap_adjust_z = 0.025
#*#
#*# [telemetry]
#*# enabled = True
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 64.0
#*# shaper_type_y = ei
#*# shaper_freq_y = 57.6
