#####################################################################
# Klipper Compilation
#####################################################################

# MCU CHip: STM32G431
# Clock Crystal: 12Mhz
# Bootloader: NONE
# Memory Location: 0x08000000

#####################################################################
# System
#####################################################################

[mcu toolhead]
serial: # Check ls -l /dev/serial/by-id/

[temperature_sensor toolhead]
sensor_type: temperature_mcu
sensor_mcu: toolhead
min_temp: 0
max_temp: 100

#####################################################################
# Extruder
#####################################################################

[extruder]
step_pin: toolhead:PB7
dir_pin: toolhead:PB6
enable_pin: !toolhead:PB9
rotation_distance: 6.9
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: toolhead:PC15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: toolhead:PB2 
pullup_resistor: 4700
min_temp: 0 
max_temp: 320
min_extrude_temp: 10
control: pid
pid_Kp: 25.013
pid_Ki: 2.566
pid_Kd: 60.966
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 5000.0
max_extrude_only_distance: 1500

#####################################################################
# TMC
#####################################################################

[tmc2209 extruder]
uart_pin: toolhead:PA15
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: toolhead:PA13

#####################################################################
# Input Shaper
#####################################################################

[adxl345]
cs_pin: toolhead:PA0
spi_software_sclk_pin: toolhead:PA5
spi_software_mosi_pin: toolhead:PA7
spi_software_miso_pin: toolhead:PA6
axes_map: -y,z,-x

#####################################################################
# Fans // I do not understand these
#####################################################################

[fan]
pin: toolhead:PB3
cycle_time: 0.010
hardware_pwm: True
kick_start_time: 0.100
tachometer_pin: toolhead:PB11
tachometer_ppr: 2
tachometer_poll_interval: 0.0015
enable_pin: toolhead:PB10 


[heater_fan hotend_fan]
pin: !toolhead:PA2
cycle_time: 0.010
hardware_pwm: True
kick_start_time: 0.100
tachometer_pin: toolhead:PA8
tachometer_ppr: 2
tachometer_poll_interval: 0.0015
heater: extruder
heater_temp: 40

#[fan Fan2]
#pin: toolhead:PA4

#[fan Fan3]
#pin: toolhead:PA3

#####################################################################
# Runout Sensor
#####################################################################

[filament_switch_sensor runout_sensor]
pause_on_runout: True
runout_gcode:
insert_gcode:
event_delay: 3.0
pause_delay: 0.5
debounce_delay: 0.100
switch_pin: toolhead:PC14
